* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    /* Theme colors */
    --medium-gray: #363636;
    --dark-gray: #1d1d1d;
    --light-gray: #AAAAAA;
    --main-blue: #39C5E7;

    /* Main page padding */
    --page-main-padding: 1rem;

    /* Food table config */
    --table-font-size: 14px;
    --table-font-weight: 200;
    --table-font-color: var(--light-gray);
}
@media screen and (min-width: 600px){
    :root{
        --page-main-padding: 4rem;
    }
}
@media screen and (min-width: 768px){
    :root{
        --page-main-padding: 8rem;
    }
}
@media screen and (min-width: 1024px){
    :root{
        --page-main-padding: 14rem;
    }
}



body{
    background: var(--medium-gray);
    font-family:'Poppins', sans-serif;
}

/*HEADER ============================*/

header{
    background:  conic-gradient(from 180deg, #20B1D1, #462496, #FF000F);
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);  
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
    padding: 1rem var(--page-main-padding);
    background-color: var(--dark-gray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);  
}

.navbar .navbar-button{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 200;
}
.navbar .navbar-button:hover{
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}
header .stats-container{
    display: flex;
    justify-content: space-between;
    padding: 0 var(--page-main-padding);
    color: white;
}

.stats-container .stats-title{
    font-size: small;
    font-weight: 200;
    opacity: .8;
}
.stats-container .stats-kcal{
    font-size: xx-large;
    font-weight: 800;
    line-height: 80%;
    margin-left: -20px;
}
.calendar{
    display: flex;
    justify-content: center;
}
.calendar .date{
    width: 160px;
    height: 160px;
    margin-top: -130px;
    text-align: center;
    background: white;
    color:#462496;
    border-radius: 40rem;
    font-size: large;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.calendar .date p:nth-child(2){
    font-size: 96px;
    line-height: 80%;
    font-weight: 700;
}
.new-day-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
button.new-day{
    width: 60px;
    height: 60px;
    margin-top: -15px;
    margin-bottom: -20px;
    border-radius: 50%;
    border: none;
    background: white;
    color: #20B1D1;
    font-size: 3rem;
    font-weight: 700;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}


/*Main ===========================================*/
main{
    padding: 0 var(--page-main-padding);
}
.daily-plan-title{
    width: 100%;
    padding: 1rem 0;
    color: var(--light-gray);
    font-size: var(--table-font-size);
    font-weight: var(--table-font-weight);
}

.food-table-container {
    background-color: var(--dark-gray);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);  
    border-radius: .5rem; 
    font-size: var(--table-font-size);
    font-weight: var(--table-font-weight);
    overflow: hidden;
    border: 1px solid var(--medium-gray);
    
}
.add-new-food-btn {
    color: var(--main-blue);    
    padding: 1rem;
    text-align: center;
}
.add-new-food-btn:hover{
    background-color: rgba(255, 255, 255, 0.02);
    font-weight: 300;
}

table{
    color: var(--table-font-color);
    width: 100%;
    border-spacing: 0;
    text-align: center;
}
table td:nth-child(2){
    text-align: left;
}
table td:last-child, 
table td:first-child,
table td:nth-child(3){
    width: 75px;

}

.food-table-container table td{
    padding: 1rem 1rem;
    border-top: 1px solid var(--medium-gray);
}
table button{
    border: 0px;
    border-radius: 50%;
    outline: none;
}

/*Footer =========================================*/

footer{
    position: relative;
    padding: 1rem;
    background-color: var(--dark-gray);
    color: white;
    text-align: center;
    font-weight: 200;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 2rem;
    margin-bottom: 0px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);  
}
footer p:nth-child(2){
    font-size: x-small;
}
footer p:nth-child(1){
    letter-spacing: 6px;
}