* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Theme colors */
    --medium-gray: #363636;
    --dark-gray: #1d1d1d;
    --dark-gray-translucent: rgba(29, 29, 29, 0.97);
    --light-gray: #d6d6d6;
    --main-blue: #39c5e7;
    --cold-white: #ecfbff;
    /* Main page padding */
    --page-main-padding: 1rem;
    /* Food table config */
    --table-font-size: 14px;
    --table-font-weight: 200;
    --table-font-color: var(--light-gray);
    --filter-icons-table: invert(87%) sepia(21%) saturate(0%) hue-rotate(156deg) brightness(50%) contrast(96%);
    --filter-icons-table-hover: invert(87%) sepia(21%) saturate(0%) hue-rotate(156deg) brightness(70%) contrast(96%);
    /* Fix laggy transitions */
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}


/* Scroll bar ======================= */

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(39, 39, 39);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(56, 56, 56);
    /* color of the scroll thumb */
    border-radius: 4px;
}

@media screen and (min-width: 600px) {
     :root {
        --page-main-padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
     :root {
        --page-main-padding: 1rem;
    }
}

@media screen and (min-width: 1024px) {
     :root {
        --page-main-padding: 1rem;
    }
}

body {
    background: var(--medium-gray);
    background-image: url("../img/background_3.jpg");
    background-size: cover;
    background-position-x: center;
    font-family: "Poppins", sans-serif;
}


/*HEADER ============================*/

header {
    --header-gradient-oppacity: 0.85;
    background-image: conic-gradient( from 180deg, rgba(69, 210, 241, var(--header-gradient-oppacity)), rgba(51, 20, 124, var(--header-gradient-oppacity)), rgba(250, 31, 44, var(--header-gradient-oppacity)));
    /* background:  conic-gradient(from 180deg, #20B1D1, #462496, #FF000F); */
    backdrop-filter: blur(6px);
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.navbar {
    display: block;
    margin-bottom: 25px;
    padding: 1rem var(--page-main-padding);
    background-color: var(--dark-gray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-button-wraper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.navbar-button-wraper .navbar-button {
    color: var(--cold-white);
    font-size: 14px;
    text-decoration: none;
    font-weight: 200;
}

.navbar .navbar-button:hover {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}

header .stats-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    color: white;
}

.stats-container .stats-title {
    font-size: small;
    font-weight: 200;
    opacity: 0.8;
}

.stats-container .stats-kcal {
    font-size: xx-large;
    font-weight: 800;
    line-height: 80%;
    margin-left: -20px;
}

.calendar {
    display: flex;
    justify-content: center;
}

.calendar .date {
    width: 160px;
    height: 160px;
    margin-top: -130px;
    text-align: center;
    background: white;
    color: #ff3b5c;
    border-radius: 40rem;
    font-size: large;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.calendar .date p:nth-child(2) {
    font-size: 96px;
    line-height: 80%;
    font-weight: 700;
}

.new-day-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

button.new-day {
    width: 60px;
    height: 60px;
    margin-top: -15px;
    margin-bottom: -20px;
    border-radius: 50%;
    border: none;
    background: white;
    color: #20b1d1;
    font-size: 3rem;
    font-weight: 700;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}


/*Main ===========================================*/

main {
    padding: 0 var(--page-main-padding);
}

.daily-plan-title {
    width: 100%;
    min-height: 1.5rem;
    padding: 0.5rem;
    color: var(--light-gray);
    font-size: var(--table-font-size);
    font-weight: var(--table-font-weight);
}

.food-table-container {
    max-width: 800px;
    margin: auto;
    margin-top: 3rem;
    background-color: var(--dark-gray-translucent);
    backdrop-filter: blur(6px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    font-size: var(--table-font-size);
    font-weight: var(--table-font-weight);
    /* overflow: hidden; */
    border: 1px solid var(--medium-gray);
}

.add-item-dialog {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr 0.6fr 0.8fr;
    grid-gap: .1rem;
    background-color: var(--dark-gray);
    font-family: "Poppins";
    font-size: 16px;
    overflow: hidden;
    transition: padding, max-height 0.1s ease-in;
    max-height: 100px;
}

*:focus {
    outline: 1px solid var(--cold-white);
}

.add-item-dialog-collapsed {
    max-height: 0px;
}

.add-item-dialog select {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--dark-gray);
    color: var(--cold-white);
}

.add-item-dialog input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: var(--cold-white);
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: none;
    /* border-right: 1.5px solid var(--medium-gray); */
}

#portionInput,
#timeInput {
    position: relative;
}

#portionInput::after,
#timeInput::after,
.loading-icon {
    content: "";
    position: absolute;
    top: 0;
    right: 5px;
    width: 2rem;
    height: 100%;
    filter: var(--filter-icons-table);
    opacity: 0.5;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#portionInput::after {
    background-image: url(../img/scale_icon_1.svg);
}

#timeInput::after {
    background-image: url(../img/clock_icon_1.svg);
}

.add-new-food-btn {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    color: var(--main-blue);
    text-align: center;
}

.add-new-food-btn:hover,
.add-new-food-btn:focus {
    outline: none;
    --new-food-btn-gradient-oppacity: 0.2;
    background-color: rgba(69, 210, 241, var(--new-food-btn-gradient-oppacity));
    cursor: pointer;
}


/* Custom input search */

.custom-input-container {
    position: relative;
    width: auto;
}

#customInput {
    outline: none;
}

.loading-icon {
    opacity: 0;
    transform-origin: 50% 50%;
    background-image: url(../img/reload_icon_1.svg);
    transition: opacity 0.4s ease;
}

.loading-icon.show {
    opacity: 1;
}

.sugestions-container {
    position: fixed;
    background: var(--dark-gray);
    display: none;
    width: 100%;
    max-height: 15rem;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.sugestions-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    z-index: auto;
    box-shadow: 0px 10px 40px 2px rgb(0 0 0 / 50%);
}

.sugestions-container.show {
    display: block;
}

.sugestion-list-item {
    cursor: default;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    background: var(--dark-gray);
}

.sugestion-list-item .item-name {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
    margin-right: 0.4rem;
    color: var(--light-gray);
    min-width: fit-content;
}

.sugestion-list-item .item-description {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(116, 116, 116);
}

.sugestion-list-item.focused {
    background: rgba(0, 0, 0, 0.2);
}

.sugestion-item-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.sugestion-item-icons-container p {
    text-align: left;
    margin-left: 7px;
    font-size: 0.8rem;
    width: 35px;
    color: black;
    filter: var(--filter-icons-table);
}

.sugestion-item-icon {
    display: inline-block;
    color: white;
    filter: var(--filter-icons-table);
    width: 15px;
    height: 15px;
    padding: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.sugestion-item-icon.protein {
    background-image: url(../img/protein_icon_1.svg);
}

.sugestion-item-icon.carb {
    background-image: url(../img/carbs_icon_1.svg);
}

.sugestion-item-icon.fat {
    background-image: url(../img/fats_icon_1.svg);
}

.sugestion-item-icon.fiber {
    background-image: url(../img/fibers_icon_1.svg);
}

.sugestion-item-icon.calories {
    background-image: url(../img/power_icon_1.svg);
}

div::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
    background: var(--dark-gray);
    /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* color of the scroll thumb */
}


/* End of custom input */

table {
    color: var(--table-font-color);
    width: 100%;
    border-spacing: 0;
    text-align: center;
}

table td:nth-child(2) {
    text-align: left;
}

table td:last-child,
table td:first-child,
table td:nth-child(3) {
    width: 75px;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.icons-container .icon {
    z-index: -1;
    display: inline-block;
    filter: var(--filter-icons-table);
    width: 20px;
    height: 20px;
    background-size: cover;
}

.icons-container .icon:hover {
    filter: var(--filter-icons-table-hover);
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkbox-container .icon {
    z-index: -1;
    display: inline-block;
    filter: var(--filter-icons-table);
    width: 20px;
    height: 20px;
    background-size: cover;
}

.icon-protein {
    background-image: url(../img/protein_icon_1.svg);
}

.icon-carbs {
    background-image: url(../img/carbs_icon_1.svg);
}

.icon-fats {
    background-image: url(../img/fats_icon_1.svg);
}

.icon-fibers {
    background-image: url(../img/fibers_icon_1.svg);
}

.icon-check {
    background-image: url(../img/check_icon.svg);
}

.food-table-container table td {
    padding: 1rem 1rem;
    border-top: 1px solid var(--medium-gray);
}

table button {
    border: 0px;
    border-radius: 50%;
    outline: none;
}


/*Footer =========================================*/

footer {
    position: relative;
    z-index: -1;
    padding: 1rem;
    background-color: var(--dark-gray-translucent);
    backdrop-filter: blur(6px);
    color: white;
    text-align: center;
    font-weight: 200;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 10rem;
    margin-bottom: 0px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
}

footer p:nth-child(2) {
    font-size: x-small;
}

footer p:nth-child(1) {
    letter-spacing: 6px;
}